<div class="row cart" ng-controller="cartController">


    <div id="sideBar" class="col-md-3 trans-div-green" ng-hide="sideBar !== true">


        <div id="cartButtonRow" class="row">
            <div id="cartTextDiv" class="col-md-8">
                <div class="row justify-content-c enter">
                    <div class="col-md-1">
                        cart
                    </div>
                </div>
            </div>
            <div id="buttonDiv" class="col-md-2">
                <button type="button" id="cartTogglrButton" class="btn mybtn-red cartToggleButton" ng-click="toggleSidebar()">
                    <i class="fas fa-shopping-cart fa-2x shoppingcarticon"></i>
                </button>
            </div>
        </div>

        <div id="sideBarContent">

                <table class="table table-striped table-sm">
                    <tr ng-repeat="item in cart.products track by $index"><td><div id="cartItemNo{{$index}}" ng-click="removeProductFromCart($event)"><div class="fa fa-times remove-cart-item-icon" aria-hidden="true"></div></div></td><td>{{item.productName}}</td><td>{{item.price}}<span class="nis">nis</span></td><td>*</td><td>{{item.q}}</td></tr>
                </table>
            
        </div>
        
        <div id="totalCheckoutRow" class="row">
             <div class="col-md-12">

                <div class="row justify-content-center checkout">

                   <div class="col-md-12" ng-show="cart.total > 0" ng-click="checkoutClicked()"><a href="#!/checkout"><button type="button" class="btn mybtn checkout-btn">Checkout</button></a></div>

                   <div class="col-md-12" ng-show="!cart.total || cart.total == 0"><button type="button" class="btn checkout-btn checkout-btn-disabled">Checkout</button></div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="row justify-content-start">
                            <span class="total">total: {{cart.total}}</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>





    <div id="mainView" ng-class="{'col-md-9 trans-div-store' : window.location.hash !== '#!/checkout', 'col-md-12 trans-div-store' : window.location.hash == '#!/checkout'}">

        <div class="mainView" ng-view></div>
        
    </div>


</div>

